<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pokemon API</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://unpkg.com/vue@3.0.2"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body class="p-3 mb-2 bg-dark text-white">
        <div id="app">
            <h1>Pokemon Stats</h1>
            <div>
                <input v-model='pokemon' class="form-control" list="datalistOptions" id="exampleDataList" @keyup.enter='getPokemon(pokemon)' placeholder="Choose your Pokemon" style="max-width:38%;">
                  <datalist id="datalistOptions">
                    <option v-for='poke in pokeArray' v-bind:value="poke.value">
                  </datalist>
              <button style="margin-top: .5rem;" class="btn btn-success" @click="getPokemon(pokemon)">Get Stats</button>
            </div>
            <div v-if='show' class="card text-white bg-secondary mb-3" style="width: 18rem; margin-top: .5rem;">
                <img class="card-img-top" id='pokepic' v-bind:src=imgURL>
                <div class="card-body">
                  <h5 class="card-title">{{ poke }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li v-for='stat in stats' class="list-group-item">{{ stat.stat.name + ':' }} {{ stat.base_stat }}</li>
                  <li v-for='abilities in ability' class="list-group-item">{{ abilities.ability.name }}</li>
                </ul>
              </div>
        </div>
        <script src="app.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </body>
</html>